* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /*background-color: aqua;*/
    background: linear-gradient(-45deg, #EE7752, #E73C7E, rgb(59, 110, 206), rgb(38, 228, 183));
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.score-board {
    display: flex;
    justify-content: space-between;
    width: 175px;
    margin-bottom: 10px;
    font: 18px/1.5 'Acme', sans-serif;
}

.restart {
    border: black;
}

.fa {
    padding-top: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-size: 40px;
}


@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.game {
    width: 800px;
    height: 640px;
    border: 2px solid rgb(216, 203, 203);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    perspective: 1000px;
    background: #EE7752;
}

.card {
border: 1px solid white;
width: calc(20% - 6px);
height: calc(25% - 6px);
position: relative;
margin: 3px;
transform-style: preserve-3d;
transition: transform .5s;
border-radius: 8px;
}

.front-face,
.back-face {
    border: 2px solid rgb(179, 153, 8);
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: black;
    backface-visibility: hidden;
}

.card.flip {
    transform: rotateY(180deg);
}

.front-face {
    transform: rotateY(180deg);
}

.pause {
    pointer-events: none;
}
.card.flip {
    pointer-events: none;
}